<%= image_tag 'image-2.jpg' %>
<h3 class= "font-bold text-center">Wanko Soba</h3>
<p>
Eating Wanko Soba is an experience in itself. Each serving contains
roughly a mouthful of soba noodles, and the server will constantly keep
topping up your empty bowl with more noodles until you indicate that you
have had enough.
</p>
